.insta-section {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 8px;
    padding: 10px;
}

.gallery-grid img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.profile-info {
    margin-bottom: 20px;
}

.follow-button {
    background-color: #701831; /* El color de tu marca */
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}