/*   Secciones con contenedores   */
.section {
  padding: 2rem 1rem;
}

.section-secondary {
  background-color: var(--bg-secondary) !important;
}

.section-divider {
  border-top: 1px solid var(--divider) !important;
  margin: 2rem 0;
}
