{% load static %}
<nav class="navbar pucakes-navbar fixed-top">
  <div class="container-fluid align-items-center">

    <a class="navbar-brand d-flex align-items-center gap-2" href="{% url 'home' %}">
      <img src="{% static 'products/img/logo.png' %}" alt="Pucakes logo" class="navbar-logo">
      <span class="brand-text">Pucakes</span>
    </a>

    <button 
        class="btn position-relative ms-auto me-2" 
        type="button" 
        data-bs-toggle="offcanvas" 
        data-bs-target="#cartSidebar" 
        aria-controls="cartSidebar"
        style="border: none; background: transparent;"> <i class="fas fa-shopping-cart" style="font-size: 1.5rem; color: #701831;"></i> 
        
        {% if cart_count > 0 %}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.6rem;">
            {{ cart_count }}
        </span>
        {% endif %}
    </button>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#pucakesOffcanvas"
      aria-controls="pucakesOffcanvas"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="pucakesOffcanvas" aria-labelledby="pucakesOffcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="pucakesOffcanvasLabel">Pucakes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav text-center gap-3">
          <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'catalogo' %}">Catalogo</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'politicas' %}">Politicas</a></li>
        </ul>
      </div>
    </div>
    
  </div>
</nav>